<%= partials.head({ title: 'Correction' }) %>
<body data-exid="<%- data.doc._id %>">
<%= partials.mainmenu(data) %>
<%= partials.breadcrumbs({
  title: 'Correction d\'exercice',
  last: data.doc.title,
  paths: [['exercices', 'Exercices']]
}) %>
<pre>
<%= JSON.stringify(data.more, null, ' ') %>
</pre>
<div class="row">
  <div class="column small-12 medium-4">
    <%= partials.exercice(data) %>
  </div>
  <div class="column small-12 medium-8">
    <h3>À faire</h3>
    <ul class="menu vertical" id="json"></ul>
    <h3>Corrigés</h3>
    <ul class="menu vertical" id="json2"></ul>
  </div>
</div>
<%= partials.js({ custom: ['corrections'] }) %>
</body>
</html>
