<%= partials.head({ login: true, title: 'Portfolio' }) %>
<body>
<% if (data.message) { %>
<h3><%- data.message %></h3>
<% } %>
<div class="row column">
  <div class="row">
  <div class="column small-12 medium-6 medium-offset-3">
    <form action="/login" method="post">
      <fieldset class="fieldset callout primary">
      <h1 class="title text-center">Bienvenue</h1>
      <div class="row">
        <div class="small-4 column medium-6">
          <label for="nom-label" class="text-right middle">Nom</label>
        </div>
        <div class="small-8 column medium-6">
          <input type="text" id="nom-label" name="username" required>
        </div>
      </div>
      <div class="row">
        <div class="small-4 column medium-6">
          <label for="pw-label" class="text-right middle">Mot de passe</label>
        </div>
        <div class="small-8 column medium-6">
          <input type="password" id="pw-label" name="password" required>
          <input type="hidden" name="next" value="<%- data.next %>">
        </div>
      </div>
      <div class="row">
        <div class="small-offset-4 small-8 medium-6 medium-offset-6 column">
          <input class="button expanded" type="submit" value="Entrer">
        </div>
      </div>
      </fieldset>
    </form>
  </div>
  </div>
<%= partials.js() %>
</body>
</html>
